entrypoint = "replit-start.sh"
modules = ["nodejs-18"]
hidden = [".config", "package-lock.json", ".git", "node_modules"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "replit-start.sh"]
deploymentTarget = "cloudrun"

[env]
NODE_ENV = "production"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001