language = "nodejs"
run = "bash deploy.sh"

[nix]
channel = "stable-23_11"

[deployment]
run = ["bash", "deploy.sh"]

[[ports]]
localPort = 3001
externalPort = 80

[env]
NODE_ENV = "production"
PORT = "3001"
DATABASE_URL = "file:./prisma/dev.db"
REPL_SLUG = "1"